nav li {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 599px) {
  nav a,
  nav button {
    font-size: 2rem;
    margin: 1rem;
  }
}
