nav li {
  list-style: none;
}

nav {
  height: 100vh;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 599px) {
  nav {
    display: none;
  }
}
