<mat-form-field [formGroup]="form" class="example-full-width" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    [id]="id"
    type="text"
    matInput
    [placeholder]="placeholder"
    [formControlName]="control"
  />
  <mat-hint align="start" *ngIf="result && result.type !== 'None'">Date parsed!</mat-hint>
  <mat-hint align="end" *ngIf="result && result.type !== 'None'">Next: <strong>{{next | date: 'mediumDate'}}</strong></mat-hint>
  <mat-hint *ngIf="result && result?.type === 'None'">Failed to parse date</mat-hint>
</mat-form-field>