<h2>Settings</h2>

<form class="settings-form" [formGroup]="form">
  <benwainwright-date-string-input
    [formGroup]="form"
    id="pay-cycle"
    label="Pay Cycle"
    type="text"
    control="payCycle"
  ></benwainwright-date-string-input>

  <benwainwright-input
    [formGroup]="form"
    id="overdraft"
    label="Overdraft"
    type="number"
    control="overdraft"
  ></benwainwright-input>

  <benwainwright-input
    [formGroup]="form"
    id="expected-salary"
    label="Monthly Salary"
    type="number"
    control="expectedSalary"
  ></benwainwright-input>

  <benwainwright-input
    [formGroup]="form"
    id="balance"
    label="Balance"
    type="number"
    control="balance"
  ></benwainwright-input>
</form>
