<h2>Settings</h2>

<form class="settings-form" [formGroup]="form">
  <benwainwright-input
    [formGroup]="form"
    id="pay-cycle"
    label="Pay Cycle"
    type="text"
    formControlName="payCycle"
  ></benwainwright-input>

  <benwainwright-input
    [formGroup]="form"
    id="overdraft"
    label="Overdraft"
    type="number"
    formControlName="overdraft"
  ></benwainwright-input>

  <benwainwright-input
    [formGroup]="form"
    id="expected-salary"
    label="Monthly Salary"
    type="number"
    formControlName="expectedSalary"
  ></benwainwright-input>
</form>
