.payments-table td,
.payments-table th {
  padding: 0 1rem;
}

.payments-table tr {
  cursor: pointer;
}

.payments-table tr:hover {
  background-color: #f1f1f1;
}

.payments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 2rem;
}

.mat-list-item {
  height: 2.5rem !important;
}

:host /deep/ .mat-list-item-content {
  padding: 0 !important;
  margin: 0 !important;
  height: 1rem;
}

.meta ul {
  margin: 0;
  padding: 0;
}
