<h2>
  Recurring Payments
  <button (click)="openCreateEditDialog()" mat-button color="primary">
    Create
  </button>
</h2>
<table
  class="payments-table"
  mat-table
  *ngIf="payments.length > 0"
  [dataSource]="payments"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let payment">
      {{ payment.name | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="when">
    <th mat-header-cell *matHeaderCellDef>When</th>
    <td mat-cell *matCellDef="let payment">
      {{ payment.when }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let payment">
      {{ payment.amount | currency: 'GBP' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="pot">
    <th mat-header-cell *matHeaderCellDef>Pot</th>
    <td mat-cell *matCellDef="let payment">
      {{ getPot(payment)?.name }}
    </td>
  </ng-container>

  <tr class="payments-row" mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr
    mat-row
    *matRowDef="let payment; columns: tableColumns"
    (click)="openCreateEditDialog(payment)"
  ></tr>
</table>
