<h2 *ngIf="new" mat-dialog-title>Create Pot</h2>
<h2 *ngIf="!new" mat-dialog-title>Edit Pot</h2>
<div mat-dialog-content>
  <form>
    <benwainwright-input [formGroup]="form" id="name" label="Name" type="text" control="name"></benwainwright-input>

    <benwainwright-input type="currency" [formGroup]="form" id="balance" label="Balance" type="number"
      control="balance">
    </benwainwright-input>

    <div mat-dialog-actions>
      <button mat-button color="primary" [mat-dialog-close]="data">Save</button>
      <button mat-button (click)="onSaveClick()">Cancel</button>
    </div>
  </form>
</div>
