/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

body {
  margin: 0;
}

:root {
  --colour-light-green: #dbffcd;
  --colour-light-red: #fa9782;
  --colour-dark-green: #0e9420;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
@include mat.core();

$my-typography: mat.define-typography-config();

h2 {
  @include mat.typography-level($my-typography, 'headline');
}

body,
html {
  height: 100%;
  @include mat.typography-level($my-typography, 'body-1');
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
