/* You can add global styles to this file, and also import other style files */

body {
    padding: 1rem;
    font-family: sans-serif
}

td, th {
    text-align: center;
}

form div {
    display: flex;
}

form div label { 
    width: 8rem;
}

form div {
    margin: 0.5rem 0;
}

form label, form input {
    align-self: center;
}

form input {
    padding: 0.4rem;
}
