<div id="dashboard">
  <h2>
    Dashboard
    <button color="primary" mat-button (click)="createBudget($event)">
      Create Budget
    </button>
  </h2>
  <p *ngIf="budgets.length === 0">
    No budgets were found. Click button to add one
  </p>

  <table
    *ngIf="budgets.length > 0"
    mat-table
    [dataSource]="budgets"
    class="dash-table"
  >
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let budget">
        {{ budget.startDate | date: 'mediumDate' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let budget">
        {{ budget.endDate | date: 'mediumDate' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="starting">
      <th mat-header-cell *matHeaderCellDef>Starting Balance</th>
      <td mat-cell *matCellDef="let budget">
        {{ budget.balance | currency: 'GBP' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="surplus">
      <th mat-header-cell *matHeaderCellDef>Surplus</th>
      <td mat-cell *matCellDef="let budget">
        {{ budget.surplus | currency: 'GBP' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr
      class="dash-row"
      [ngClass]="myRowData.pastPresentOrFuture()"
      mat-row
      *matRowDef="let myRowData; columns: tableColumns"
      (click)="clickRow(myRowData.id)"
    ></tr>
  </table>
</div>
