<mat-card class="pot-card" color="secondary" [ngClass]="backgroundClass">
  <mat-card-title-group>
    <mat-card-title>{{ pot?.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>
      <ul>
        <li>Allocated: {{ allocated | currency: 'GBP' }}</li>
        <li>Current Balance: {{ pot?.balance | currency: 'GBP' }}</li>
        <li>
          Required Adjustment: {{ pot?.adjustmentAmount | currency: 'GBP' }}
        </li>
        <li>Paid: {{ pot?.totalPaid | currency: 'GBP' }}</li>
      </ul>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content class="pot-content">
    <p *ngIf="pot?.payments?.length === 0"><em>No payments</em></p>
    <table
      *ngIf="(pot?.payments?.length ?? 0) > 0"
      class="pot-table"
      mat-table
      [dataSource]="pot?.payments ?? []"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let payment">
          {{ payment.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="when">
        <th mat-header-cell *matHeaderCellDef>When</th>
        <td mat-cell *matCellDef="let payment">
          {{ payment.when | date: 'mediumDate' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let payment">
          {{ payment.amount | currency: 'GBP' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let payment">
          <button
            class="paid-button"
            mat-icon-button
            aria-label="Paid"
            (click)="togglePaymentPaidStatus(payment)"
          >
            <mat-icon>done</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr
        class="dash-row"
        [ngClass]="payment.paid && 'paid-row'"
        mat-row
        *matRowDef="let payment; columns: tableColumns"
      ></tr>
    </table>
  </mat-card-content>
  <button
    mat-button
    (click)="paymentsService.openCreateEditDialog(undefined, pot?.id)"
  >
    Add Payment
  </button>
  <mat-card-actions> </mat-card-actions>
</mat-card>
