.pot-card {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pot-table {
  width: 100%;
}

.pot-content {
  flex-grow: 2;
}

.mat-table {
  background-color: transparent;
}

.pot-deficit,
.pot-deficit table {
  background-color: #fa9782;
}

.pot-surplus,
.pot-surplus table {
  background-color: #dbffcd;
}

table td {
  overflow: hidden;
}

ul {
  margin: 1rem 0 0 1rem;
  padding: 0;
}

.paid-button:hover {
  color: var(--colour-dark-green);
}

.paid-row {
  text-decoration: line-through;
  opacity: 0.3;
}
