.pot-card {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pot-table {
  width: 100%;
}

.pot-content {
  flex-grow: 2;
}

.mat-table {
  background-color: transparent;
}

.pot-deficit {
  background-color: #fa9782;
}

.pot-surplus {
  background-color: #dbffcd;
}

ul {
  margin: 1rem 0 0 1rem;
  padding: 0;
}
