<h2>
  Budget <button (click)="deleteBudget($event)" mat-button>Delete</button
  ><button (click)="balancePots()" mat-button>Balance Pots</button>
</h2>
<div class="chips">
  <mat-chip-listbox *ngIf="budgetObservable | async as budget; else loading">
    <mat-chip *ngFor="let chip of chips">{{ chip }}</mat-chip>
  </mat-chip-listbox>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="20"></mat-spinner>
</ng-template>
<mat-card class="budget-detail-summary">
  <mat-card-content>
    <mat-list *ngIf="budgetObservable | async as budget; else loadingStats">
      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>From</h2>
        <p matListItemLine>{{ budget?.startDate | date: 'mediumDate' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>To</h2>
        <p matListItemLine>{{ budget?.endDate | date: 'mediumDate' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Account Balance</h2>
        <p matListItemLine>{{ budget?.balance | currency: 'GBP' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Pot Balances Total</h2>
        <p matListItemLine>{{ budget?.potTotals | currency: 'GBP' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Total Available</h2>
        <p matListItemLine>
          {{ budget?.balance | currency: 'GBP' }} +
          {{ budget?.potTotals | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Allocated Total</h2>
        <p matListItemLine>
          {{ budget?.totalAllocated | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Paid</h2>
        <p matListItemLine>
          {{ budget?.totalPaid | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Surplus</h2>
        <p matListItemLine>
          {{ availableBalance | async | currency: 'GBP' }} -
          {{ budget?.totalAllocated | currency: 'GBP' }} +
          {{ budget?.totalPaid | currency: 'GBP' }} =
          <strong>{{ budget?.surplus | currency: 'GBP' }}</strong>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<ng-template #loadingStats>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>

<div class="pots-grid" *ngIf="potPlans | async as plans; else loading">
  <benwainwright-pot
    *ngFor="let pot of plans"
    [pot]="pot"
    [budget]="budget"
    [isFuture]="!budget?.isCurrent()"
  ></benwainwright-pot>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
