<h2>
  Budget <button (click)="deleteBudget($event)" mat-button>Delete</button>
</h2>
<div class="chips">
  <mat-chip-listbox>
    <mat-chip *ngFor="let chip of chips">{{ chip }}</mat-chip>
  </mat-chip-listbox>
</div>
<mat-card class="budget-detail-summary">
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>From</h2>
        <p matListItemLine>{{ budget?.startDate | date: 'mediumDate' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>To</h2>
        <p matListItemLine>{{ budget?.endDate | date: 'mediumDate' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Account Balance</h2>
        <p matListItemLine>{{ budget?.balance | currency: 'GBP' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Pot Balances Total</h2>
        <p matListItemLine>{{ budget?.potTotals | currency: 'GBP' }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Total Available</h2>
        <p matListItemLine>
          {{ budget?.balance | currency: 'GBP' }} +
          {{ budget?.potTotals | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Allocated Total</h2>
        <p matListItemLine>
          {{ budget?.totalAllocated | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Paid</h2>
        <p matListItemLine>
          {{ budget?.totalPaid | currency: 'GBP' }}
        </p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h2 matListItemTitle>Surplus</h2>
        <p matListItemLine>
          {{ availableBalance() | currency: 'GBP' }} -
          {{ budget?.totalAllocated | currency: 'GBP' }} +
          {{ budget?.totalPaid | currency: 'GBP' }} =
          <strong>{{ budget?.surplus | currency: 'GBP' }}</strong>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<div class="pots-grid">
  <benwainwright-pot
    *ngFor="let pot of pots()"
    [pot]="pot"
    [budget]="budget"
    [isFuture]="!budget?.isCurrent()"
  ></benwainwright-pot>
</div>
